.container {
    width: 1024px;
    margin: 0 auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: green;
}

/* unvisited link */
#menu li a:link {
    color: darkorange;
}

/* visited link */
#menu li a:visited {
    color: white;
}

#menu .active {
    color: yellow;
}

#quizzinfo {
    background-color: darkgoldenrod;
}

#p1quizz {
    background-color: chocolate;
}

#p2quizz {
    background-color: darkslateblue;
}

#p3quizz {
    background-color: darkgray;
}

#p4quizz {
    background-color: darkgreen;
}

#p5quizz {
    background-color: darkslategrey;
}

#p6quizz {
    background-color: darkblue
}

#p7quizz {
    background-color: grey;
}

#p8quizz {
    background-color: olivedrab;
}

#p8quizz {
    background-color: honeydew;
}

fieldset {
    border: 0;
}

legend {
    padding-bottom: 2rem;
}